/* --------media query------- */

/* -------tab view-------- */

@media all and (max-width: 768px) {

  /* ------- Sidebar Toggle------- */
  .container {
    grid-template-columns: 0px auto;
    transition: 0.4s;
  }
  aside {
    display: none;
    overflow: hidden;
  }
  aside .profile {
    padding-top: 60px;
  }
  aside .nav-links {
    margin-top: 60px;
  }
  aside .profile-icons {
    margin-top: 210px;
  }

  .container.hide-sidebar {
    grid-template-columns: 200px auto;
  }

  .container.hide-sidebar aside {
    display: block;
  }

  /* ---------dashboard------------ */

  .container main .main-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: auto;
    padding: 20px;
  }

  .container main .main-card .main-sub-card {
    width: 100%;
    height: 200px;
  }
  .main-card .main-sub-card .dash-card-top .dash-card .dash-card-amt {
    font-size: 2.5rem;
  }
  .dash-card-top .dash-card2 .fa-users,
  .dash-card-top .dash-card2 .fa-bag-shopping,
  .dash-card-top .dash-card2 .fa-chart-simple,
  .dash-card-top .dash-card2 .fa-arrow-up-wide-short {
    font-size: 3.5rem;
  }

  /* -----customer------- */
  .container .register-wrapper {
    padding: 15px;
  }

  .container .register-wrapper .reg-table {
    width: 100%;
    /* display: block; */
    overflow: auto;
    white-space: nowrap;
  }

  .container .register-wrapper .reg-table th,
  .container .register-wrapper .reg-table td {
    padding: 12px;
    font-size: 0.9rem;
  }

  /* ---------product--------- */
  .wrapper .form-box {
    width: 500px;
  }

  .product-wrapper .form-box form {
    width: auto;
  }

  .product-wrapper .form-box form .form-input input,
  .product-wrapper .form-box form .form-input select {
    width: 400px;
    border: 1px solid;
  }

  .wrapper .form-box button {
    width: 250px;
  }

  .container .product-wrapper {
    padding: 15px;
  }

  /* Scroll only table */
  .container .product-wrapper .prod-table {
    display: block;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }

  .container .product-wrapper .prod-table th,
  .container .product-wrapper .prod-table td {
    padding: 12px;
    font-size: 0.9rem;
  }
  /* --------footer------ */
  .container footer {
    font-size: 1rem;
  }
}

/* -------mobile view-------- */

@media all and (max-width: 576px) {

  /* ------- Sidebar Toggle------- */

  .container {
    display: block;
  }
  header,
  main,
  footer {
    width: 100%;
  }

  aside {
    position: fixed;
    top: 0;
    left: -270px;
    width: 270px;
    height: 100vh;
    z-index: 1000;
    transition: left 0.4s ease;
  }
  aside .profile {
    gap: 10px;
    padding: 10px 30px;
  }
  aside .nav-links {
    gap: 10px;
    height: auto;
  }
  aside .nav-links .nav-sub {
    gap: 10px;
  }
  aside .profile-icons {
    margin-top: 110px;
    padding: 10px;
  }
  /* Show sidebar */
  .container.hide-sidebar aside {
    left: 0;
  }

  /* ---------dashboard------------ */
  .container main .main-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    height: auto;
    padding: 20px;
  }
  .container main .main-card .main-sub-card {
    /* width: 300px; */
    height: 150px;
  }
  .main-card .main-sub-card .dash-card-top .dash-card .dash-card-amt {
    font-size: 2rem;
  }
  .dash-card-top .dash-card2 .fa-users,
  .dash-card-top .dash-card2 .fa-bag-shopping,
  .dash-card-top .dash-card2 .fa-chart-simple,
  .dash-card-top .dash-card2 .fa-arrow-up-wide-short {
    font-size: 3rem;
  }

  /* -------catergory------- */
  .wrapper .cat-box {
    width: 300px;
  }
  .wrapper .cat-box form {
    width: auto;
  }
  .wrapper .cat-box form .cat-card-signup {
    width: auto;
  }
  .wrapper .cat-box form .cat-input input {
    width: 250px;
    border: 1px solid;
  }
  .wrapper .cat-box button {
    width: 250px;
  }

  .container .category-wrapper {
    padding: 10px;
  }

  .container .category-wrapper .cat-table {
    width: 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
  }

  .container .category-wrapper .cat-table th,
  .container .category-wrapper .cat-table td {
    padding: 10px;
    font-size: 0.8rem;
  }

  /* -------------product page---------- */
  .wrapper .form-box {
    width: 350px;
  }
  .product-wrapper .form-box form {
    width: auto;
  }
  .product-wrapper .form-box form .form-input input,
  .product-wrapper .form-box form .form-input select {
    width: 300px;
    border: 1px solid;
  }
  .wrapper .form-box button {
    width: 200px;
  }
  .container .product-wrapper {
    padding: 10px;
  }

  .container .product-wrapper .prod-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  .container .product-wrapper .prod-table th,
  .container .product-wrapper .prod-table td {
    padding: 10px;
    font-size: 0.8rem;
  }

  /* -----customer------- */
  .container .register-wrapper {
    padding: 15px;
  }

  .container .register-wrapper .reg-table {
    width: 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
  }

  .container .register-wrapper .reg-table th,
  .container .register-wrapper .reg-table td {
    padding: 12px;
    font-size: 0.8rem;
  }
  /* --------footer------ */
  .container footer {
    font-size: 0.8rem;
  }
}
